---
import Layout from "../../layouts/Layout.astro";
import { t } from "../../i18n";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "de" } }];
}

const { locale } = Astro.params;
---

<Layout>
  <h1>Imprint</h1>
  <p>{t(locale, "about.text")}</p>
</Layout>
