---
import Layout from "../../layouts/Layout.astro";
import { t } from "../../i18n";
import { getRelativeLocaleUrl } from "astro:i18n";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "de" } }];
}

const { locale } = Astro.params;
---

<Layout>
  <h1 class="mb-5 font-oracle font-thin text-8xl">Complete <br>creative <br>control</h1>
  <div class="flex flex-col">
    <a class="text-blue-500" href={getRelativeLocaleUrl(locale, "about")}>
      {t(locale, "about.title")}
    </a>
    <a class="text-blue-500" href={getRelativeLocaleUrl(locale, "guestbook")}>
      {t(locale, "guestbook.title")}
    </a>
  </div>
</Layout>
