---
import Layout from "../../layouts/Layout.astro";
import { t } from "../../i18n";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "de" } }];
}

const { locale } = Astro.params;
---

<Layout>
  <div class="h-[100vh]">
    <h1>Privacy Policy</h1>
    <p>{t(locale, "about.text")}</p>
  </div>
</Layout>
