---
const { imageSrc, zPos, posClass } = Astro.props;
---
<div
  class="panel absolute top-1/2 left-1/2 w-full h-[150vw] grid grid-cols-2 grid-rows-3 md:grid-cols-4 md:grid-rows-3 md:h-[75vw]"
  style={`transform: translate3d(-50%, -50%, ${zPos}px); opacity: 0;`}
  data-z={zPos}
>
  <div class={`${posClass} imagepanel`}>
    <img src={imageSrc} alt="Visual break" class="w-full h-full object-contain" />
  </div>
</div>
