---
import ExhibitionLayout from "../../../layouts/ExhibitionLayout.astro";
import MarqueeText from "../../../components/exhibition/MarqueeText.astro";

const bgColor = "bg-[#EFC0BD]";

import { t } from "../../../i18n";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "de" } }];
}

const { locale } = Astro.params;
---

<ExhibitionLayout backgroundClass={bgColor}>
  <div class="flex flex-col justify-between min-h-[90dvh]">
    <div class="container mx-auto px-6 pt-10 mb-44">
      <p class="whitespace-pre-line text-l md:text-xl">
        {t(locale, "exhibition.hingabe-content")}
      </p>
    </div>
    <div>
      <MarqueeText bgColor="bg-[#FF8B85]" textColor="text-[#B51B1B]" />
      <div class="bg-neutral-900 text-white">
        <div class="container mx-auto px-6 min-h-[500px] flex flex-col justify-center items-center">
          <p class="text-xl font-mono">to be announced</p>
        </div>
      </div>
    </div>
  </div>
</ExhibitionLayout>
