---
import ExhibitionLayout from "../../../layouts/ExhibitionLayout.astro";
const bgColor = "bg-[#A8BDBA]";
---

<ExhibitionLayout backgroundClass={bgColor}>
  <div class="container mx-auto px-6">
    <h2>Wirrnis</h2>
    <p>WIP</p>
  </div>
</ExhibitionLayout>
