---
import { t } from "../../i18n";
import { getRelativeLocaleUrl } from "astro:i18n";

const { locale } = Astro.params;
---

<div class="pt-4 pb-12 flex flex-row items-center justify-start">
  <a href={getRelativeLocaleUrl(locale, "guestbook")}
    class="px-7 py-2 w-full max-w-[200px] outline-[1.5px] -outline-offset-1 font-balete-italic text-3xl flex flex-col leading-none">
    <span>Zur</span>
    <span>Ausstellung</span>
  </a>
</div>