---
import PhysicsEngine from "./PhysicsEngine";
---

<div class="relative w-full h-[80vh] overflow-hidden">

  <div class="absolute top-0 left-0 w-full h-full pointer-events-none">
    <div class="absolute flex items-center justify-center font-bold select-none w-[100px] h-[100px] rounded-full bg-yellow-400 text-black">
      Tech
    </div>
    <div class="absolute flex items-center justify-center font-bold select-none w-[140px] h-[80px] bg-blue-700 text-white">
      Brand
    </div>
    <div class="absolute flex items-center justify-center font-bold select-none w-[140px] h-[80px] rounded-lg bg-green-600 text-white">
      Social
    </div>
    <div class="absolute" style="
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #ec4899;
      background: transparent;
      color: transparent;
      text-indent: -9999px;
    ">
      Strategy
    </div>
    <div class="absolute flex items-center justify-center font-bold select-none w-[100px] h-[100px] rounded-full bg-purple-600 text-white">
      XR
    </div>
  </div>

  <canvas class="absolute top-0 left-0 w-full h-full pointer-events-none"></canvas>
</div>

<PhysicsEngine client:load />
