---
import Layout from "../../../layouts/Layout.astro";
import GuestbookForm from "../../../components/guestbook/GuestbookForm.astro";
import { t } from "../../../i18n";

const { locale } = Astro.params;
---

<Layout>
  <div class="pt-[70px]">
    <div class="container mx-auto pt-10 px-7 pr-12">
      <h1 class="mb-8 flex flex-col">
        <span class="font-balete-italic italic text-4xl"
          >{t(locale, "guestbook-new.title1")}</span
        >
        <span class="font-balete-black text-4xl"
          >{t(locale, "guestbook-new.title2")}</span
        >
        <span class="font-balete-italic italic text-4xl"
          >{t(locale, "guestbook-new.title3")}</span
        >
      </h1>
      <p>{t(locale, "guestbook-new.intro-text")}</p>

      <GuestbookForm />
    </div>
  </div>
</Layout>
