---
const { class: className } = Astro.props;

const currentLocale = Astro.url.pathname.split("/")[1];
const otherLocale = currentLocale === "de" ? "en" : "de";
const currentPath = Astro.url.pathname.replace(`/${currentLocale}`, "") || "/";
const switchUrl = `/${otherLocale}${currentPath}`;
---

<div class={`bg-neutral-200 border border-black px-2 py-4 ${className ?? ''}`}>
  <a href={switchUrl} class="text-xl">
    {otherLocale === "de" ? "DE" : "EN"}
  </a>
</div>
