---
const { class: className } = Astro.props;

const currentLocale = Astro.url.pathname.split("/")[1];
const otherLocale = currentLocale === "de" ? "en" : "de";
const currentPath = Astro.url.pathname.replace(`/${currentLocale}`, "") || "/";
const switchUrl = `/${otherLocale}${currentPath}`;
---

<a href={switchUrl} class={`bg-neutral-200 border border-black flex justify-center items-center h-16 shadow ${className ?? ''}`}>
  <span class="text-xl [writing-mode:vertical-rl] rotate-180">
    {otherLocale === "de" ? "DE" : "EN"}
  </span>
</a>
